section{
    padding:50px 0;
}
.noto-sans{
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}
main{
    font-family: "Noto Sans", sans-serif;
    font-weight: 400; 
    background-color: #97E8E1;
    background-image: linear-gradient(to top right, #97E8E1, #FED8F7); 
    background-repeat: no-repeat;
}

/* Hero-section col-md-6 heading */
.font-size-80{
    font-size:80px;
}

.headings{
    display:grid;
    place-items: center;
    width:100%;
    height:100%;
   
    .btn1{
        padding:15px 40px;
        font-size:20px;
        font-weight:bolder;
    }
    .btn2{
        padding:15px 40px;
        font-size:20px;
        font-weight:lighter;
        background-color: #C8EBEC;
    }
}

/* heroImg */
.Heroimg img{
    width: 90%;
    height: 635.578px;
    transform: translate(-2.84217e-14px, 0px) rotate(0deg);
}

/* new Technology section */
.new-technology{
    
    .texts{
        display:grid;
        place-items: center;
        width:80%;
        height:80%;

        .headingText{
            font-size:60px;
            text-align: start;
        }
    }
    .technologyImg .img{
        width: 90%;
        height: 560px;
        object-fit:cover;
        border-top-right-radius: 25%; 
            
    }
}  

    /* category */
.category{
    background-image: linear-gradient(to top left, #97E8E1, #FED8F7); 
    .font-size-50{
        font-size: 50px;
    }
    .card{
        border-top-right-radius: 30%;  
        border-bottom-left-radius: 25%;  
    }
    .img1{
        border-top-right-radius: 30%; 
        width:100%;
        height:360px;
        object-fit: cover;  
    }
    .img2{
        border-top-right-radius: 30%;  
        width:100%;
        height:360px;
        object-fit: cover; 
    }
    .img3{
        border-top-right-radius: 30%; 
        width:100%;
        height:360px;
        object-fit: cover;
    }
    .btn2{
        padding:15px 40px;
        font-size:20px;
        font-weight:lighter;
        background-color: #C8EBEC;
    }
}
/* 
Expert section */

.expert-section{
    .texts{
        .font-size-60{
            font-size:60px;
        }
        .font-size-40{
            font-size:40px;
        }
        #ExpertImg{
            border-top-right-radius: 30%; 
            width:90%;
            height:660px;
            
        }
    }
}
.footer{
    padding:50px 0;
    background-image: linear-gradient(to bottom right, #97E8E1, #FED8F7);
}

@media (min-width: 992px){
    .text-md-left{
        text-align:left !important;
    }
    
}
 
  

